In [74]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import networkx as nx
import pickle

In [24]:
test_data=pd.read_csv("test-public.txt",sep='\t')

In [25]:
test_data

        Id   Source     Sink
0        1  3563811  3600160
1        2  2052043  1401960
2        3  4517994  1690636
3        4  1660006  4349447
4        5   581111  1882617
...    ...      ...      ...
1995  1996  1461386  2341683
1996  1997  4057755  1871227
1997  1998  4242514  1413468
1998  1999   555531  1290080
1999  2000  1707829  2373045

[2000 rows x 3 columns]

In [26]:
train_data=pd.read_csv("train.txt", delimiter=",", header=None,names=['Neighbours'],index_col=False)

In [27]:
train_data['ID']=train_data['Neighbours'].apply(lambda x: x.split('\t')[0])  # Get the ID

In [28]:
train_data['Neighbours']=train_data['Neighbours'].apply(lambda x: x.split('\t')[1:])# set up the neighbours

In [29]:
train_data=train_data[["ID","Neighbours"]] # set "ID" as the index

In [30]:
num_source=train_data.shape[0]
sink=train_data.iloc[0,]
len_sink=len(sink)
train_data

            ID                                         Neighbours
0       540762  [1912140, 1537559, 3091331, 2757277, 3237295, ...
1      2129843  [65840, 3414168, 4523797, 2851163, 4321895, 13...
2      3361377  [955840, 3342058, 1536902, 1850727, 1504632, 1...
3      1199298  [2300061, 2635670, 2803600, 744722, 881446, 28...
4      1392121  [3845572, 546016, 4361302, 678461, 4294597, 24...
...        ...                                                ...
19995   585576  [660302, 3279973, 2094235, 2355188, 1296935, 3...
19996   505961  [3875645, 2148630, 4288909, 4011139, 340232, 1...
19997   125824  [54421, 868022, 385000, 2050130, 3446665, 2040...
19998   896087  [431577, 1007572, 499457, 3642500, 3734728, 28...
19999  3547024  [2888992, 179459, 492114, 2418495, 2235094, 14...

[20000 rows x 2 columns]

In [90]:
train_source=train_data['ID'].iloc[:].values

In [91]:
test_source=test_data['Source'].iloc[:].values

In [92]:
intrainsource=[]
for i in test_source:
    if str(i) in train_source:
        intrainsource.append(1)
    else:
        intrainsource.append(0)

In [93]:
np.count_nonzero(intrainsource)

2000

file = open("test_source.txt","w+") 
for i in test_source:
    file.write(str(i)+'\n')

file = open("train_source.txt","w+") 
for i in train_source:
    file.write(i+'\n')

In [95]:
test_sink=test_data['Sink'].iloc[:].values

In [96]:
testsinkintrainsource=[]
for i in test_sink:
    if str(i) in train_source:
        testsinkintrainsource.append(1)
    else:
        testsinkintrainsource.append(0)

In [97]:
np.count_nonzero(testsinkintrainsource)

376

In [100]:
test_data['sinkInTrainSource']=testsinkintrainsource

In [101]:
test_data

        Id   Source     Sink  sinkInTrainSource
0        1  3563811  3600160                  0
1        2  2052043  1401960                  0
2        3  4517994  1690636                  0
3        4  1660006  4349447                  0
4        5   581111  1882617                  0
...    ...      ...      ...                ...
1995  1996  1461386  2341683                  0
1996  1997  4057755  1871227                  0
1997  1998  4242514  1413468                  0
1998  1999   555531  1290080                  0
1999  2000  1707829  2373045                  0

[2000 rows x 4 columns]